{#
/**
 * @file
 * Default theme implementation to form confirmation.
 *
 * Available variables:
 * - progress: Progress bar.
 * - message: Confirmation message.
 * - back_url: URL to the previous form submission.
 *
 * @see template_preprocess_yamlform_confirmation()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('yamlform/yamlform.confirmation') }}
<div class="yamlform-confirmation">
  {% if progress %}
    {{ progress }}
  {% endif %}

  {% if message %}
    <div class="yamlform-confirmation__message">{{ message }}</div>
  {% endif %}

  <div class="yamlform-confirmation__back">
    <a href="{{ back_url }}" rel="back" title="{{ 'Go back to form'|t }}">{{ 'Back to form'|t }}</a>
  </div>
</div>
